@custom-media --viewport-medium (width <= 50rem);
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --mainColor: #070606ef;
}


.grid {
	background-color: #FFFF;
	padding: 100px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
	grid-template-rows: repeat(auto-fill);
	grid-gap: 40px;
  }
  .item {
	background-color:#5653;
	height: 150px;
	width: 200px;
  }

body {
	font-family: 'Song Myung', serif;
	background-color: #1CACF4;
	padding: 100px;
  color: var(--mainColor);
  overflow-wrap: break-word;
}

body h1{
padding: 20px;
}

:--heading {
    margin-block: 0;
  
}

a {
  color: rgb(0 0 100% / 90%);

  &:hover {
    color: rebeccapurple;
  }
}